.postsWrapper{
    display: flex;
    justify-content: center;
}
.postsContainer{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    width: 800px;
}
.postItem{
    width: 40%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    padding: 15px;
    margin: 20px;
}
.title{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(3, 52, 85);
}
.postsBtn{
    width: 50%;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 15px;
    background-color: rgb(115 127 132);
    border-radius: 5px;
    color: white;
}
.postsBtn:hover{
    background-color: rgb(136 150 156);
}
.body{
    text-align: left;
    font-size: 1rem;
    font-weight:600;
    color: rgb(11, 26, 36);
    margin-bottom: 20px;
}
.AddPostBtn{
    width: 150px;
    cursor: pointer;
    padding: 10px 30px;
    margin: 5px;
    font-size: 15px;
    background-color: rgb(71 119 94 / 86%);
    border-radius: 5px;
    color: white;
}
.AddPostBtn:hover{
    background-color: rgb(70 148 107 / 86%);
}